{{ define "chart.prerequirements" -}}
## Old Mirror

This Chart is maintained upstream, now.

- [official](https://git.xenrox.net/~xenrox/ntfy-alertmanager/tree/master/item/contrib/charts/alertmanager-ntfy)
- [codeberg mirror](https://codeberg.org/xenrox/ntfy-alertmanager/src/branch/master/contrib/charts/alertmanager-ntfy)

my developing fork:
- [codeberg](https://codeberg.org/wrenix/ntfy-alertmanager/src/branch/master/contrib/charts/alertmanager-ntfy)

### Version

```bash
helm pull oci://codeberg.org/xenrox/ntfy-alertmanager/alertmanager-ntfy --version x.x.x
```

{{ end }}
